services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        image: gratispol-app
        container_name: gratispol-app
        restart: unless-stopped
        working_dir: /var/www
        volumes:
            - ./:/var/www
        environment:
            - DB_HOST=db
            - DB_PORT=3306
            - DB_DATABASE=${DB_DATABASE}
            - DB_USERNAME=${DB_USERNAME}
            - DB_PASSWORD=${DB_PASSWORD}
        networks:
            - gratispol-network
        depends_on:
            - db

    webserver:
        image: nginx:alpine
        container_name: gratispol-nginx
        restart: unless-stopped
        ports:
            - "8000:80"
        volumes:
            - ./:/var/www
            - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
        networks:
            - gratispol-network
        depends_on:
            - app

    db:
        image: mysql:8.0
        container_name: gratispol-db
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: ${DB_DATABASE:-gratispol_unu}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-root}
            MYSQL_PASSWORD: ${DB_PASSWORD:-root}
            MYSQL_USER: ${DB_USERNAME:-laravel}
            SERVICE_TAGS: dev
            SERVICE_NAME: mysql
        volumes:
            - dbdata:/var/lib/mysql
        networks:
            - gratispol-network

networks:
    gratispol-network:
        driver: bridge

volumes:
    dbdata:
        driver: local
